<p>Parsing page: {{ url }}</p>

<p>Title : {{title}}</p>

<bold> Ingredients: </bold>

<ul>
{% for ing in ingredients %}
    <li>
    {% for word, pos_tag, tag in ing %}
      <word class="{{tag}}"  data-balloon="{{pos_tag}}" data-balloon-pos="up" >{{word}}</word>

    {% endfor %}
    </li>
{% endfor %}
</ul> 


<table>
    <tr>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Ingredient</th>
      <th>"Flavour"</th>
      <th>PINT</th>
    </tr>
{% for qnt, unit, main, flav, pint in splitted_ingredients %}
    <tr>
      <td> {{qnt}} </td>
      <td> {{unit}} </td>
      <td> <b> {{main}} </b></td>
      <td> {{flav}} </td>
      <td> {{pint}} </td>

    </tr>
{% endfor %}
</table> 

<bold> Steps: </bold>

<ul>

{% for step in steps %}
    <li>
      {{ step }}
    </li>
{% endfor %}
</ul> 




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.4.0/balloon.min.css">

<style>

word
{
  margin-right:0px;
  line-height:20px;
}
word::after
{
  line-height:10px;
}

table{
  border-collapse: collapse;
}
th{
  background-color:gray;
}
th,tr,td {
  border: 1px solid black;
  text-align:center;
}
</style>

<style>

.QNT
{
  border-bottom: 2px solid blue;
}
.UNIT
{
  border-bottom: 2px solid green;
}
.ING_NAME
{
  border-bottom: 2px solid orange;
}

.MAIN_ING
{
  border-bottom: 4px solid red;
}


</style>